.lds-hourglass {
  display: inline-block;
  font-family: Courier , monospace;
  font-weight: 900;
  height: 300px;
  position: relative;
  width: 1000px;
}

.lds-hourglass:after {
  animation: lds-hourglass 1.2s infinite;
  border: 32px solid rgb(19, 24, 18);
  border-color: rgb(36, 61, 28) transparent;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 0;
  margin: 8px;
  width: 0;
}

@keyframes lds-hourglass {

  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: rotate(0);
  }

  50% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(900deg);
  }

  100% {
    transform: rotate(1800deg);
  }
}
